body {
    background: url("images/image.jpg");
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust the width for smaller screens */
    max-width: 400px; /* Limit the maximum width */
    padding: 20px;
    text-align: center;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-color: black;
    border : 20px;
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 300px; /* Make the input field full width */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0; /* Adjust margin for smaller screens */
}

button {
    margin: 15px 0; /* Adjust margin for smaller screens */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

#weatherInfo {
    margin-top: 20px;
}
#weatherIcon {
    height:50px;
    width:50px;
    visibility: hidden;
}

/* Media Queries for Responsive Design */
@media (max-width: 769px) {
    .container {
        width: 90%;
        background-color: aqua;
    }

    input[type="text"] {
        width: 300px;
    }

    button {
        margin: 15px 0;
    }
}




/* Media Queries for Responsive Design */
@media (max-width: 400px) {
    .container {
        width: 90%;
        background-color:aqua;
        
    }

    input[type="text"] {
        width: 80%;
        margin-right: 10px; 
    }

    button {
        margin: 15px 0;
    }
}

